{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "Youdot"
    },
    "servers": [
        {
            "url": "//api.youdot.io"
        }
    ],
    "definitions": {},
    "paths": {
        "/switch": {
            "head": {
                "summary": "Switch the UI back to 4X",
                "tags": [
                    "troll"
                ],
                "operationId": "trollUI",
                "responses": {
                    "202": {
                        "description": "Vote recorded"
                    }
                }
            }
        },
        "/user/register": {
            "post": {
                "description": "LOLOolololololLOLOLOLO",
                "responses": {
                    "200": {
                        "description": "Congratz noob.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "description": "LOLOolololololLOLOLOLO",
                "summary": "Lol",
                "tags": [
                    "user"
                ],
                "operationId": "userLogin",
                "requestBody": {
                    "content": {
                        "application/form-data": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "yuno",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "such security very secure",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "email password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Congratz noob.",
                        "content": {
                            "application/json": []
                        }
                    }
                }
            }
        }
    }
}