{
    "openapi": "3.0.0",
    "info": {
        "version": "0.1.0",
        "title": "Youdot",
        "description": "This API & documentation is experimental, improvements will be made in the future.",
        "contact": {
            "url": "https://github.com/Youdot/OpenAPI"
        }
    },
    "servers": [
        {
            "url": "//truffade.youdot.io",
            "description": "Experi'emmental server"
        }
    ],
    "components": {
        "securitySchemes": {
            "JWT": {
                "type": "http",
                "scheme": "Bearer",
                "bearerFormat": "JWT"
            }
        },
        "responses": {
            "Unauthorized": {
                "description": "The user can't be authenticated",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "schemas": {
            "Error": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Youdot specific error code"
                    },
                    "message": {
                        "type": "string",
                        "description": "Error in english human language 73696d706c65206d6f7274656c"
                    }
                },
                "required": [
                    "code",
                    "message"
                ]
            }
        }
    },
    "definitions": {},
    "paths": {
        "/login": {
            "post": {
                "summary": "Return the authentication token",
                "tags": [
                    "Login"
                ],
                "operationId": "login",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "Account's email",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "Your very secure password",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "email password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The token to use into each request using the authentification header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "description": "Authentification token"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                }
            }
        }
    }
}